<a href="https://colab.research.google.com/github/soumyb09/soumyb09/blob/master/SDG_DL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
from keras.datasets import mnist
from keras.layers import Conv2D, BatchNormalization, Activation, Dropout, MaxPool2D, Dense, Flatten, Input
from keras.models import Model
from keras.callbacks import EarlyStopping, ModelCheckpoint, ReduceLROnPlateau
from keras.utils import to_categorical
import keras.backend as K

Using TensorFlow backend.

In [2]:
(_,_),(x_train,y_train)=mnist.load_data()

Downloading data from https://s3.amazonaws.com/img-datasets/mnist.npz
11493376/11490434 [==============================] - 2s 0us/step

In [0]:
(x_train,y_train),(x_test,y_test)=mnist.load_data()

In [0]:
x_train=x_train.reshape(-1,28,28,1)

In [5]:
x_train.shape

(60000, 28, 28, 1)

In [6]:
y_train.shape

(60000,)

In [0]:
y_train=to_categorical(y_train)

In [8]:
K.clear_session()
inp = Input(shape=(28,28,1), dtype=np.float32)
x = Conv2D(filters=16,kernel_size=3,strides=1,padding='same')(inp)
x = BatchNormalization()(x)
x = Activation('relu')(x)
x = Dropout(rate=0.3)(x)
x = Conv2D(filters=32,kernel_size=3,strides=1,padding='same')(inp)
x = BatchNormalization()(x)
x = Activation('relu')(x)
x = Dropout(rate=0.3)(x)
x = Conv2D(filters=64,kernel_size=3,strides=1,padding='same')(inp)
x = BatchNormalization()(x)
x = Activation('relu')(x)
x = Dropout(rate=0.3)(x)
x = MaxPool2D(pool_size=2, padding='same')(x)
x = Flatten()(x)
x = Dense(units=64)(x)
x = BatchNormalization()(x)
x = Activation('relu')(x)
x = Dropout(rate=0.3)(x)
x = Dense(units=32)(x)
x = BatchNormalization()(x)
x = Activation('relu')(x)
x = Dense(units=10)(x)
out=Activation('softmax')(x)
model = Model(inp,out)
model.compile(optimizer='adam',loss='categorical_crossentropy',metrics=['acc'])

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:107: The name tf.reset_default_graph is deprecated. Please use tf.compat.v1.reset_default_graph instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:111: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:190: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:197: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:203: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:207: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:216: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:223: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:2041: The name tf.nn.fused_batch_norm is deprecated. Please use tf.compat.v1.nn.fused_batch_norm instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3733: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4267: The name tf.nn.max_pool is deprecated. Please use tf.nn.max_pool2d instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3576: The name tf.log is deprecated. Please use tf.math.log instead.

In [9]:
model.summary()

Model: "model_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         (None, 28, 28, 1)         0
_________________________________________________________________
conv2d_3 (Conv2D)            (None, 28, 28, 64)        640
_________________________________________________________________
batch_normalization_3 (Batch (None, 28, 28, 64)        256
_________________________________________________________________
activation_3 (Activation)    (None, 28, 28, 64)        0
_________________________________________________________________
dropout_3 (Dropout)          (None, 28, 28, 64)        0
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 14, 14, 64)        0
_________________________________________________________________
flatten_1 (Flatten)          (None, 12544)             0
_________________________________________________________________
dense_1 (Dense)              (None, 64)                802880
_________________________________________________________________
batch_normalization_4 (Batch (None, 64)                256
_________________________________________________________________
activation_4 (Activation)    (None, 64)                0
_________________________________________________________________
dropout_4 (Dropout)          (None, 64)                0
_________________________________________________________________
dense_2 (Dense)              (None, 32)                2080
_________________________________________________________________
batch_normalization_5 (Batch (None, 32)                128
_________________________________________________________________
activation_5 (Activation)    (None, 32)                0
_________________________________________________________________
dense_3 (Dense)              (None, 10)                330
_________________________________________________________________
activation_6 (Activation)    (None, 10)                0
=================================================================
Total params: 806,570
Trainable params: 806,250
Non-trainable params: 320
_________________________________________________________________

In [11]:
model.fit(x=x_train,y=y_train,batch_size=32,epochs=30, validation_split=0.4)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/math_grad.py:1424: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1020: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

Train on 36000 samples, validate on 24000 samples
Epoch 1/30
36000/36000 [==============================] - 123s 3ms/step - loss: 0.3365 - acc: 0.9163 - val_loss: 0.1256 - val_acc: 0.9660
Epoch 2/30
36000/36000 [==============================] - 120s 3ms/step - loss: 0.1287 - acc: 0.9628 - val_loss: 0.1411 - val_acc: 0.9576
Epoch 3/30
36000/36000 [==============================] - 122s 3ms/step - loss: 0.0997 - acc: 0.9690 - val_loss: 0.0729 - val_acc: 0.9786
Epoch 4/30
36000/36000 [==============================] - 121s 3ms/step - loss: 0.0828 - acc: 0.9748 - val_loss: 0.0787 - val_acc: 0.9763
Epoch 5/30
36000/36000 [==============================] - 122s 3ms/step - loss: 0.0710 - acc: 0.9774 - val_loss: 0.0908 - val_acc: 0.9726
Epoch 6/30
36000/36000 [==============================] - 121s 3ms/step - loss: 0.0618 - acc: 0.9808 - val_loss: 0.0677 - val_acc: 0.9792
Epoch 7/30
36000/36000 [==============================] - 122s 3ms/step - loss: 0.0581 - acc: 0.9819 - val_loss: 0.0731 - val_acc: 0.9788
Epoch 8/30
36000/36000 [==============================] - 122s 3ms/step - loss: 0.0503 - acc: 0.9838 - val_loss: 0.0677 - val_acc: 0.9806
Epoch 9/30
36000/36000 [==============================] - 121s 3ms/step - loss: 0.0458 - acc: 0.9856 - val_loss: 0.0713 - val_acc: 0.9794
Epoch 10/30
36000/36000 [==============================] - 122s 3ms/step - loss: 0.0444 - acc: 0.9854 - val_loss: 0.0656 - val_acc: 0.9810
Epoch 11/30
36000/36000 [==============================] - 121s 3ms/step - loss: 0.0403 - acc: 0.9863 - val_loss: 0.0631 - val_acc: 0.9823
Epoch 12/30
36000/36000 [==============================] - 121s 3ms/step - loss: 0.0383 - acc: 0.9873 - val_loss: 0.0606 - val_acc: 0.9830
Epoch 13/30
36000/36000 [==============================] - 122s 3ms/step - loss: 0.0343 - acc: 0.9881 - val_loss: 0.0633 - val_acc: 0.9825
Epoch 14/30
36000/36000 [==============================] - 121s 3ms/step - loss: 0.0328 - acc: 0.9892 - val_loss: 0.0779 - val_acc: 0.9789
Epoch 15/30
36000/36000 [==============================] - 122s 3ms/step - loss: 0.0316 - acc: 0.9891 - val_loss: 0.0593 - val_acc: 0.9842
Epoch 16/30
36000/36000 [==============================] - 121s 3ms/step - loss: 0.0290 - acc: 0.9909 - val_loss: 0.0581 - val_acc: 0.9837
Epoch 17/30
36000/36000 [==============================] - 122s 3ms/step - loss: 0.0287 - acc: 0.9907 - val_loss: 0.0689 - val_acc: 0.9814
Epoch 18/30
36000/36000 [==============================] - 124s 3ms/step - loss: 0.0245 - acc: 0.9915 - val_loss: 0.0683 - val_acc: 0.9821
Epoch 19/30
36000/36000 [==============================] - 121s 3ms/step - loss: 0.0242 - acc: 0.9920 - val_loss: 0.0615 - val_acc: 0.9836
Epoch 20/30
36000/36000 [==============================] - 121s 3ms/step - loss: 0.0252 - acc: 0.9914 - val_loss: 0.0573 - val_acc: 0.9846
Epoch 21/30
36000/36000 [==============================] - 122s 3ms/step - loss: 0.0219 - acc: 0.9929 - val_loss: 0.0692 - val_acc: 0.9815
Epoch 22/30
36000/36000 [==============================] - 120s 3ms/step - loss: 0.0254 - acc: 0.9915 - val_loss: 0.0590 - val_acc: 0.9850
Epoch 23/30
36000/36000 [==============================] - 122s 3ms/step - loss: 0.0220 - acc: 0.9927 - val_loss: 0.0673 - val_acc: 0.9824
Epoch 24/30
36000/36000 [==============================] - 121s 3ms/step - loss: 0.0215 - acc: 0.9925 - val_loss: 0.0635 - val_acc: 0.9841
Epoch 25/30
36000/36000 [==============================] - 121s 3ms/step - loss: 0.0223 - acc: 0.9922 - val_loss: 0.0588 - val_acc: 0.9847
Epoch 26/30
36000/36000 [==============================] - 121s 3ms/step - loss: 0.0210 - acc: 0.9932 - val_loss: 0.0626 - val_acc: 0.9833
Epoch 27/30
36000/36000 [==============================] - 121s 3ms/step - loss: 0.0219 - acc: 0.9921 - val_loss: 0.0590 - val_acc: 0.9843
Epoch 28/30
36000/36000 [==============================] - 122s 3ms/step - loss: 0.0201 - acc: 0.9936 - val_loss: 0.0554 - val_acc: 0.9847
Epoch 29/30
36000/36000 [==============================] - 121s 3ms/step - loss: 0.0187 - acc: 0.9936 - val_loss: 0.0643 - val_acc: 0.9838
Epoch 30/30
36000/36000 [==============================] - 121s 3ms/step - loss: 0.0173 - acc: 0.9945 - val_loss: 0.0568 - val_acc: 0.9847

In [0]:
x_test=x_test.reshape(-1,28,28,1)

In [0]:
preds=model.predict(x_test)

In [17]:
preds.shape

(10000, 10)

In [0]:
y_hat=np.argmax(preds,axis=1)

In [20]:
import pandas as pd
pd.crosstab(y_test,y_hat)

col_0    0     1     2    3    4    5    6     7    8    9
row_0
0      973     0     1    0    0    0    4     1    1    0
1        0  1132     2    0    0    0    0     1    0    0
2        4     9  1011    0    0    0    1     6    0    1
3        0     0     4  993    0    3    2     5    2    1
4        0     0     0    0  965    0    5     0    1   11
5        1     1     1    4    0  881    4     0    0    0
6        5     4     0    0    1    2  944     0    2    0
7        0     4    11    0    0    0    0  1012    1    0
8        2     1     2    0    0    1    1     2  964    1
9        1     1     1    2    3    4    0     7    4  986